<%= form_for @announcement do |f|%>
<% if @announcement.errors.any? %>
<h4>These errors prohibited the form from being saved: </h4>
<ul style ="color:red;">
	<%@announcement.errors.full_messages.each do |msg| %>
		<li><%=msg %></li>
	<% end %>
</ul>
<%end %>


<lable>Title</lable><br/>
	<%= f.text_field :title  %><br/>

<br/>

<lable>Body</lable><br/>
<%= f.text_field :body %><br/>
<br/>



<%= f.submit "Submit",class: "btn btn_primary" %>

<% end %>