<h1>Listing venders</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @venders.each do |vender| %>
      <tr>
        <td><%= vender.name %></td>
        <td><%= link_to 'Show', vender %></td>
        <td><%= link_to 'Edit', edit_vender_path(vender) %></td>
        <td><%= link_to 'Destroy', vender, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vender', new_vender_path %>
