<div class="row">
	<div class="col-md-8">
		<div class="page-header">
		<h2>Edit Client</h2>
		</div>
		<%= render 'form' %>
	</div>
</div>		
<!--<%= form_for @client #do |f|%>
<% #if @client.errors.any? %>
<h4>These errors prohibited the form from being saved : </h4>
<ul style ="color:red;">
	<%@client.errors.full_messages.each #do |msg| %>
		<li><%=msg %></li>
	<% #end%>
</ul>
<% #end %>



<lable>Name</lable><br/>
<%= f.text_field #:name %><br/>

<lable>Company</lable><br/>
<%= f.text_field #:company %><br/>

<lable>Mobile</lable><br/>
<%= f.text_field #:mobile %><br/>

<lable>Email</lable><br/>
<%= f.email_field #:email %><br/>

<%= f.submit %>

<% #end %>-->