<table border ="1">
	<thead>
		<tr>
			<th>#</th>
			<th>Name</th>
			<th>Companny</th>
			<th>Mobile</th>
			<th>Email</th>
			<th>Actions</th>
			
		</tr>
	</thead>
	<tbody>
		<%@clients.each_with_index do|client,index| %>
		<tr>
			<td><%=index+1%></td>
			<td><%=link_to client.name,client_url(client.id) %></td>
			<td><%=client.company.capitalize %></td>
			<td><%=client.mobile%></td>
			<td><%=client.email%></td>
			<td><%= link_to "show", client_url(client.id)%></td>
			<!--client_path is a method-->
			
		</tr>
		<%end%>	
	</tbody>
</table>
