<h3><%= @project.name %></h3>
<p><%= @project.description %> <%=@project.estimated_budget %> <%=@project.status %>
<%# link_to @project.client.name, client_path(@project.client_id)%></p>

<%= link_to "edit",edit_project_path(@project.id)%>
<%= link_to "delete",project_path(@project.id),data:{method: :delete,confirm: "Are you sure?"} %>

<%=link_to "Export_to Excel",project_path(@project.id,format: "xls")%>

<%=@project.categories.pluck(:name).join(",") %>


<% if @project.newtasks.empty? %>
	No tasks found
<%else %>
<h3>Total Tasks :<%=@project.newtasks.size %></h3>
<ul>
	<% @project.newtasks.each do |task|%>
		<li><%=task.title%></li>
	<%end%>
</ul>

<h3> Add tasks </h3>
<%= form_for @task do |f|%>

<h3>Completed Tasks</h3>
<% completed_task =@project.newtasks.where('is_completed = ?',true) %>
<ul>
<% completed_task.each do |task|%>
	<li><%=task.title%></li>
	<%= link_to "mark_as_incomplete",newtasks_mark_as_incomplete_path(newtask_id: task.id)%>
<% end %>
</ul>	

<h3>InCompleted Tasks</h3>
<% incompleted_task =@project.newtasks.where('is_completed = ?',false) %>
<ul>
<% incompleted_task.each do |task|%>
	<li><%=task.title%>
	<%= link_to "mark_as_return",newtasks_mark_as_complete_path(newtask_id: task.id)%>
	</li>
<% end %>
</ul>	


<%= f.hidden_field :project_id, value: @project.id %>
<lable>Title </lable><br/>

<%=f.text_field :title %><br/>

<label>Due_date</label><br/>
<%= f.date_select :due_date,order:[:day,:month,:year] %><br/>

<%=f.check_box :is_completed %> <label>Is Completed? </label><br/>

<%=f.submit %>

<%end%>

<% data ={}
data["completed"] = @project.newtasks.where('is_completed =?', true).count 
data["incompleted"] = @project.newtasks.where('is_completed =?', false).count %>

<%=pie_chart(data) %>


<%end%>	

